<!doctype html>
<html lang="en">

<head>
    <title>Library System</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <h1>Library System</h1>

    <!-- Loop through array of objects (rows) to display list of books on screen *https://ejs.co/* -->
                    <ul class="book-details">
                        <li><span class="sub-heading">Author:</span>&nbsp;<%= book.value.author %></li>
                        <li><span class="sub-heading">Publisher(s):</span>&nbsp;<%= book.value.publishers %></li>
                        <li><span class="sub-heading">Pages:</span>&nbsp;<%= book.value.pages %></li>
                        <li><span class="sub-heading">Genre:</span>&nbsp;<%= book.value.genre %></li>
                        <li><span class="sub-heading">Protagonist:</span>&nbsp;<%= book.value.characters.protagonist %>
                        </li>
                        <li><span class="sub-heading">Antagonist:</span>&nbsp;<%= book.value.characters.antagonist %>
                        </li>
                        <li><span class="sub-heading">Release Date:</span>&nbsp;<%= book.value.release_date %></li>
                        <li><span class="sub-heading">Rating:</span>&nbsp;<%= book.value.rating %></li>
                    </ul>
        <% }); %>
    </ul>
</body>

</html>